[submodule "garden/jquery"]
	path = garden/jquery
	url = git://github.com/jquery/jquery.git
[submodule "garden/klass"]
	path = garden/klass
	url = git://github.com/ded/klass.git
[submodule "garden/mustache.js"]
	path = garden/mustache.js
	url = git://github.com/janl/mustache.js.git
[submodule "garden/underscore"]
	path = garden/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "garden/modernizr"]
	path = garden/modernizr
	url = git://github.com/Modernizr/Modernizr.git
