[submodule "garden/jquery"]
	path = garden/jquery
	url = git://github.com/jquery/jquery.git
[submodule "garden/klass"]
	path = garden/klass
	url = git://github.com/ded/klass.git
[submodule "garden/mustache.js"]
	path = garden/mustache.js
	url = git://github.com/janl/mustache.js.git
[submodule "garden/underscore"]
	path = garden/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "garden/modernizr"]
	path = garden/modernizr
	url = git://github.com/Modernizr/Modernizr.git
[submodule "garden/jquerytools"]
	path = garden/jquerytools
	url = git://github.com/jquerytools/jquerytools.git
[submodule "garden/backbone"]
	path = garden/backbone
	url = git://github.com/documentcloud/backbone.git
[submodule "garden/sammy"]
	path = garden/sammy
	url = git://github.com/quirkey/sammy.git
[submodule "garden/zepto"]
	path = garden/zepto
	url = git://github.com/madrobby/zepto.git
