[submodule "jquery"]
	path = jquery
	url = https://github.com/jquery/jquery.git
	
[submodule "klass"]
	path = klass
	url = https://github.com/ded/klass.git
	
[submodule "mustache.js"]
	path = mustache
	url = https://github.com/janl/mustache.js.git
	
[submodule "underscore"]
	path = underscore
	url = https://github.com/documentcloud/underscore.git
	
[submodule "modernizr"]
	path = modernizr
	url = https://github.com/Modernizr/Modernizr.git